:root {
    --cor1: #252E4F;
    --cor2: #1E2333;
    --cor3: #7E92BA;
    --cor4: #F0818E;
    --cor5: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

form {
    width: 360px;
}

body {
    min-height: 100vh;
    background-color: var(--cor1);
    color: var(--cor5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: var(--cor2);
    border-radius: 25px;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 400px;
    color: var(--cor4);
    font-size: 50px;
}

#logo_img {
    float: left;
    width: 80px;
    margin-left: 75px;
    margin-top: 25px;
}

#logo_nome {
    font-size: 50px;
    float: right;
    margin-top: 10px;
    margin-right: 140px;
    margin-top: 35px;
}

.input {
    background-color: var(--cor1);
    color: var(--cor3);
    flex-direction: column;
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 360px;
    margin-top: 15px;
    padding-left: 20px;
}

::-webkit-input-placeholder {
    color: var(--cor3);
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button, .salvar {
    background-color: var(--cor4);
    color: var(--cor5);
    border: none;
    border-radius: 25px;
    height: 45px;
    width: 195px;
    margin-top: 20px;
    cursor: pointer;
}
/* */
input[type=file] .image_input {
    background-color: var(--cor4);
    color: var(--cor5);
    border: none;
    border-radius: 25px;
    height: 45px;
    width: 195px;
    margin-top: 20px;
    cursor: pointer;
}

.cancelar {
    background-color: var(--cor3);
    color: var(--cor2);
    border: none;
    border-radius: 25px;
    height: 45px;
    width: 195px;
    margin-top: 20px;
    cursor: pointer;
}

.form-group {
    display: inline-block;
}
/**/

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

a {
    color: var(--cor4);
}

.error {
    color: var(--cor4);
    margin-top: 20px;
}

.label {
    color: var(--cor3);
}

.details_body {
    align-items: start;
    color: white !important;
}

.panel-heading {
    height: 19vh;
}

.panel-body {
    padding-top: 0 !important;
}

.bio {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
}

.fotoPerfil {
    position: relative;
    top: 78%;
}

.editar-perfil {
    padding: 7px 20px 7px 20px;
    font-size: 16px;
    background-color: #F0818E;
    color: white;
    border-radius: 22px;
}

    .editar-perfil:hover {
        color: white;
        text-decoration: none;
    }

.dados {
    position: relative;
}

.conf {
    float: right;
    position: relative;
    top: 20%;
}

.bodyPostagens {
    width: 100%;
}

.postagem {
    justify-content: left;
    padding: 10px 0 10px 0 !important;
}

.usuario {
    width: 350px;
    float: left;
    margin-left: 10px;
}

.nomeUsuario {
    color: white;
    font-weight: bold;
}

.imgPerfPostag {
    float: left;
    margin-right: 10px;
}

.configPost {
    float: right;
}

.imgPost {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    max-height: 310px;
}

.legendaPostagem {
    margin-left: 2px;
}

.dadosPostagem {
    display: flex;
    flex-direction: column;
}

.dataPostagem {
    font-size: 12px;
    color: #8A8484;
}


@media (min-width: 320px) and (max-width: 767px) {
    body {
        background-color: var(--cor2);
    }

    hr {
        height: 1px;
        border: 1px solid var(--cor1);
    }

    .bodyPostagens {
        display: block;
        width: 100%;
    }

    .imgPost, .midiaPost {
        width: 100%;
        max-height: 1350px;
    }

    .usuario {
        margin-left: 0;
        width: 100%;
        float: left;
        padding: 0 15px 0 15px;
    }

    #criarPubl {
        text-align: center !important;
        padding-top: 10px;
    }

    #botao-criar {
        padding: 7px 20px 7px 20px;
        font-size: 26px;
        background-color: #F0818E;
        color: white;
        border-radius: 36px;
    }
}

@media (min-width: 320px) and (max-width: 370px) {
    .input {
        width: 310px;
        margin-left: 25px;
    }
}
