:root {
    --cor1: #252E4F;
    --cor2: #1E2333;
    --cor3: #7E92BA;
    --cor4: #F0818E;
    --cor5: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

form {
    width: 360px;
}

body {
    background-color: var(--cor1);
    color: var(--cor5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.box {
    background-color: var(--cor2);
    border-radius: 25px;
    width: 600px;
    height: 500px;
    display: flex;
    margin-top: 40%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 400px;
    color: var(--cor4);
    font-size: 50px;
}

#logo_img {
    float: left;
    width: 80px;
    margin-left: 75px;
    margin-top: 25px;
}

#logo_nome {
    font-size: 50px;
    float: right;
    margin-top: 10px;
    margin-right: 140px;
    margin-top: 35px;
}

.input {
    background-color: var(--cor1);
    color: var(--cor3);
    flex-direction: column;
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 360px;
    margin-top: 15px;
    padding-left: 20px;
}

::-webkit-input-placeholder {
    color: var(--cor3);
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button, .salvar {
    background-color: var(--cor4);
    color: var(--cor5);
    border: none;
    border-radius: 25px;
    height: 45px;
    width: 195px;
    margin-top: 20px;
    cursor: pointer;
}
/* */
input[type=file] .image_input {
    background-color: var(--cor4);
    color: var(--cor5);
    border: none;
    border-radius: 25px;
    height: 45px;
    width: 195px;
    margin-top: 20px;
    cursor: pointer;
}
.cancelar {
    background-color: var(--cor3);
    color: var(--cor2);
    border: none;
    border-radius: 25px;
    height: 45px;
    width: 195px;
    margin-top: 20px;
    cursor: pointer;
}
.form-group {
    display: inline-block;
}
/**/

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

a {
    color: var(--cor4);
}

.error {
    color: var(--cor4);
    margin-top: 20px;
}

.label {
    color: var(--cor3);
}

hr {
    color: var(--cor5);
}

@media (min-width: 320px) and (max-width: 767px) {
    body {
        background-color: var(--cor2);
    }

    .box {
        margin-top: 15%;
    }
}

@media (min-width: 320px) and (max-width: 370px) {
    .input {
        width: 310px;
        margin-left: 25px;
    }
}
