@model Eart.Areas.Membros.Models.Membro

<!DOCTYPE html>

<html>
<head>
    <title> Pesquisar </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="~/Css/styles.css">
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link rel="shortcut icon" type="imagex/png" href="~/Imagens/logo_ico.ico">
</head>
<body>
    @using (Html.BeginForm("PesquisarMembro")) { }
        <input type="text" id="pesquisar" name="pesquisar" placeholder="Pesquisar" />
        <input type="submit" value="Pesquisar"/>
    }
    <br /><br />
    
    <div class="nome">
        @Html.Partial("~/Areas/Comportamentos/Views/Pesquisar/_PesquisarMembro.cshtml", Model);
    </div>

    </body>
</html>
