<!DOCTYPE html>
@{ var pageName = ViewContext.RouteData.Values["action"].ToString();
                var membrologado = ViewBag.MembroLogado;
                var membrofoto = ViewBag.MembroFoto; }
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" href="~/Css/styles.css">
</head>
<body>
    <footer>
        <nav>
            <ul>
                <li>
                    <a href="@Url.Action("FeedPorRelevancia", "Postagens", new { area = "Postagens" })">
                        @if (pageName != "FeedPorRelevancia")
                        {
            <span class="iconify" data-icon="ant-design:fire-outlined" style="color: white; font-size: 30px; margin-left: 15px;"></span> }
                        else
                        {
            <span class="iconify" data-icon="ant-design:fire-filled" style="color: white; font-size: 30px; margin-left: 15px;"></span>}
                    </a>
                </li>
                <li>
                    <a style="margin-left: auto; margin-right: auto;" href="@Url.Action("FeedMembrosSeguidos", "Postagens", new { area = "Postagens" })">
                        @if (pageName != "FeedMembrosSeguidos")
                        {
            <span class="iconify" data-icon="ant-design:home-outlined" style="color: white; font-size: 30px;"></span> }
                        else
                        {
            <span class="iconify" data-icon="ant-design:home-filled" style="color: white; font-size: 30px;"></span>}
                    </a>
                </li>
                @if (membrofoto == null)
                {
    <li style="float: right;">
        <div>
            <a>
                <img src="~/Imagens/avatar.png" style="display: block; margin-left: auto; margin-right: auto; width: 30px; height: 30px; border-radius: 50%; border: solid 1px #F0818E;" />
            </a>
        </div>
    </li> }
                else
                {
    <li style="float: right;">
        <div>
            <a>
                <img class="img-thumbnail" src="~/Membros/Membros/GetFotoPerfil/@membrologado" style="display: block; margin-left: auto; margin-right: auto; width: 30px; height: 30px; border-radius: 50%; border: solid 1px #F0818E;" />
            </a>
        </div>
    </li>}
            </ul>
        </nav>
    </footer>
    @RenderBody()
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
</body>
</html>